<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so_arm101">
  <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
  <xacro:arg
    name="ros2_control_file"
    default="$(find so_arm101_description)/control/so_arm101.ros2_control.xacro"
  />
  <xacro:arg
    name="urdf_file"
    default="$(find so_arm101_description)/urdf/so_arm101_macro.xacro"
  />
  <xacro:arg name="usb_port" default="/dev/LeRobotFollower" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="color" default="0.2 0.7 0.85 1.0" />

  <!-- Robot description -->
  <xacro:include filename="$(arg urdf_file)" />
  <link name="world" />
  <xacro:so_arm101 prefix="$(arg prefix)" color="$(arg color)" />

  <!-- parameters -->
  <xacro:arg name="simulation_controllers" default="" />
  <xacro:arg name="ros_namespace" default="" />

  <!-- ros2_control description -->
  <xacro:include filename="$(arg ros2_control_file)" />
  <xacro:ros2_control
    prefix="$(arg prefix)"
    ros2_control_hardware_type="$(arg ros2_control_hardware_type)"
    usb_port="$(arg usb_port)"
  />

  <gazebo reference="world" />
  <gazebo>
    <plugin
      filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin"
    >
      <parameters>$(arg simulation_controllers)</parameters>
      <ros>
        <namespace>$(arg ros_namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>
</robot>
